<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <swiper-container #swiper navigation="true" pagination="true">
      <swiper-slide *ngFor="let image of testImages">
        <img class="swiperImage" src="{{image}}" alt="">
      </swiper-slide>
    </swiper-container>
  </div>

</ion-content>
