.weekdays {
  display: flex;
  justify-items: stretch;
  height: 24px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  gap: 16px;
  justify-content: center;
}

#container {
  z-index: 0;
  position: relative;
  padding-top: 24px;
  text-align: center;

  margin: auto;
  height: 100%;
}

#swiper {
  background-color: gainsboro;
  height: 100%;
}

.swiperImage {
  width: 355px;
  height: auto;
}

swiper-slide {
  height: auto !important;
}